.fondoAzul{
  background-color: rgb(25, 133, 190);
}
.fondoAmarillo{
  background-color: rgb(128, 161, 17);
}
.fondoverde{
    background-color: rgb(20, 66, 29);
}
.fondMarron{
    background-color: rgb(126, 103, 45);
}
